<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caminho para Beatriz</title>
    <link rel="stylesheet" href="linha do tempo.css">
</head>
<body>
    <h1>O Caminho para Beatriz</h1>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet" type='text/css'>
<div class="history-tl-container">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        17 de fevereiro de 2021
      </div>
      <div class="item-title"><b>O primeiro contato</b></div>
      <div class="item-detail"> <details><summary>show more</summary><br> Toda essa história começou no dia 17 de fevereiro de 2020, no primeiro dia da faculdade,
        em uma brincadeira, quando estávamos em fila indiana, eu na primeira posição da fila, ela logo atrás de mim. Lembro que envolvia uma bola, mas não lembro ao certo qual era
        a brincadeira em si, só sei que em um certo momento, eu desengonçado do jeito que sou, acabei me desequilibrando, e fui dando passos para trás com o objetivo de retomar meu equilíbrio,
        mas como eu disse, ela estava logo atrás de mim, mas na hora eu não lembrei disso, o medo de cair no primeiro dia da faculdade falou mais alto. Fui andando para trás, e no meu segundo ou terceiro 
        passo eu pisei no pé dela.
        E assim se deu o primeiro contato, não foi como nos filmes românticos, quando os personagens se trombam no corredor da escola, os livros caem, eles se abaixam, os olhares
        se cruzam e o mundo para. Nossa história hoje em dia é digna de um filme, mas não por esse momento, ali eu só pedi desculpas de forma envergonhada, e ela me respondeu um "foi nada" toda sorridente.
        
    </details></div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Março de 2020
      </div>
      <div class="item-title"><b>A primeira conversa</b></div>
      <div class="item-detail"><details><summary> show more</summary> <br>Não coloco o dia desse acontecimento por motivos de: não lembro. Mas sei que foi em março.<br>
        <br> Foi em uma roda de discussão acerca de um tema que, adivinhem, eu não lembro também qual era. Enfim, não importa. Estávamos eu, ela e mais umas 2/3 pessoas, sentados com as cadeiras 
        formando um círculo. Começaram a falar sobre o tema, eu passava por um momento de timidez, então não abri a boca muitas vezes, já ela falava, falava, e como falava bem,
        desde cedo me encantei com a forma dela de se expressar, as palavras lhe obedecem, é lindo de ver. <br><br> Uma das poucas vezes que abri a boca foi para contar um caso engraçado, típico de mim, sempre fazendo piadas ou contando histórias que ao meu ver carregam
        uma certa dose de humor. Resumindo esse caso engraçado em específico, foi sobre uma vez que ao desabafar com uma certa pessoa, ela recomendou que eu ouvisse uma música. Contando assim não tem graça, mas não quero me alongar contando histórias que não tem muita importância.<br><br>
        Ela ouviu atentamente o que eu falei, e mesmo antes de eu terminar de falar, ela deu um sobressalto e falou em tom de brincadeira "Não, agora eu vou te mandar uma música todo dia", demos risada e eu pensei "Caralho, que mina legal".
    
    </details></div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Ainda março de 2020
      </div>
      <div class="item-title"><b> O mundo resolveu dar uma acabada</b></div>
      <div class="item-detail"><details><summary> show more</summary> <br>
        A maldita pandemia veio, ficamos todos trancafiados em casa, o natural seria a gente perder contato.<br><br> Mas não foi isso que aconteceu, pelo contrário, começamos a nos falar
        diariamente, todo santo dia, sem cessar durante bons meses. Sempre foi uma boa relação de amizade, leve e descontraída. Digo amizade porque mesmo estando apaixonado por ela, eu nunca tive coragem de falar, ela era muito para mim, o melhor seria eu
        me contentar com a amizade e tentar superar esse outro sentimento <p id="dela">E que bom que eu não falei nada, porque quase dois anos depois eu descobri que naquele período ela estava namorando</p>
    </details></div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          de março até sei lá quando
        </div>
        <div class="item-title"><b>O tipo de conversa</b></div>
        <div class="item-detail"><details><summary> show more</summary><br>Dado que são dois alunos de um mesmo curso superior você pode pensar que as nossas conversas eram bastante produtivas e que debatíamos sobre temas muito relevantes para a sociedade.  Bom...
            <br> <br>
            <video controls src="Design sem nome.mp4" width="460" height="315"></video>
        <br> <b> Eu diria que nem Freud e Jung tiveram conversas tão relevantes assim.</b><br>
        obs: Como eu sinto por ter apagado as conversas antigas...
        </details></div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          Desde sempre
        </div>
        <div class="item-title"><b>A visão dela de mim</b></div>
        <div class="item-detail"><details><summary> show more</summary><br> Eu fui, sou e sempre serei completamente bobo por ela. Mas por algum motivo ela não percebia isso,
            não só não percebia, achava que eu era "a cara do golpe". Resumindo, ela achava que eu era isso: <br> <br>
            <video controls src="Como ela achava que eu era.mp4" width="460" height="315"></video>
            <br><br> Quando na verdade eu era isso:<br><br>
            <video controls src="45days.mp4" width="460" height="315"></video>
        </details></div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          Segundo semestre de 2020
        </div>
        <div class="item-title"><b>Paramos de conversar</b></div>
        <div class="item-detail"><details><summary> show more</summary><br> Com o passar do tempo nós paramos de conversar, não sei o que aconteceu, não sei se a nossa conversa esfriou ou o que, só sei que não nos falamos mais com a mesma frequência
        , nos falávamos esporadicamente, mas isso não significa que eu a esqueci, juro que tentei, Deus sabe como eu tentei! Mas não conseguia, a frequência que faltava de mensagens dela no meu celular, sobrava de pensamentos sobre ela na minha cabeça. 
        </details></div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          31 de agosto de 2021
        </div>
        <div class="item-title"><b>Uma mensagem despretenciosa</b></div>
        <div class="item-detail"><details><summary> show more</summary><br> Era de tarde,eu jogava uma partida de PES antes de sair para correr, um dia comum do pobre Gabriel na sua amada Zona Leste.
            Ela, pelo visto assistia um filme de ação, na sua (e agora nossa) querida Diadema, após o filme, ela sentiu um soninho e foi ter o cochilo que a princesa que ela é merece. Enquanto eu corria, ela dormia.
            <br><br> Dormia e sonhava, sonhava comigo, nesse sonho ela estava em Campos do Jordão e eu estava a caminho de lá, tudo muito bonitinho, tudo muito fofo, tudo muito legal.
            Até que... Pá!!! Bateram no meu carro, segundo ela uma batida muito feia.<br><br>
            Ela acordou assustada e com vontade de me mandar uma mensagem para falar desse sonho, pensou muito e resolveu me mandar a seguinte mensagem:
            <br><section><img src="Amensagem.jpeg" alt="A grande mensagem" id="mensagem"></section>
        </details></div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          Todos os dias depois de 31 de agosto
        </div>
        <div class="item-title"><b>Um dia sem conversar com ela não é um bom dia</b></div>
        <div class="item-detail"><details><summary> show more</summary><br> A conversa simplesmente engatou, do nada, voltamos a conversar diariamente, e desde então eu me sinto como o Barney nessa cena:<br>
             <video controls src="Barney.mp4" width="460" height="315"></video>
        </details></div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          Setembro de 2021
        </div>
        <div class="item-title"><b>Aceita, Gabriel!</b></div>
        <div class="item-detail"><details><summary> show more</summary><br> Até então eu seguia minha jornada de tentar esquecer essa mulher, mas eu simplesmente
            não conseguia, tudo me lembrava ela, tudo que eu via eu queria mostrar para ela, tudo que eu fazia eu queria compartilhar com ela, todas as piadas que eu pensava eu queria
            contar para ela... eu queria ela! Foda-se, admito, eu estou completamente apaixonado por essa mulher, eu tenho que falar isso pra ela, mesmo sabendo que ela é muito pra mim, não posso mais segurar isso.<br>
            <video controls src="Eu amo tudo nessa mulher.mp4" width="460" height="315"></video>
        </details></div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          4 de novembro de 2021
        </div>
        <div class="item-title"><b>O grande dia</b></div>
        <div class="item-detail"><details><summary> show more</summary> <br>O dia do nosso encontro chegou, na real ele foi antecipado, a gente havia marcado de sair no sábado, dia 06,
            mas na quinta (04) surgiu uma brecha no dia dela e ela perguntou se eu queria ir passar um tempinho com ela. Lógico.<br>
            <br> Naquele dia eu estava na Vila Mariana trabalhando com o pai de um amigo meu, quando recebi a mensagem dela, fiz o trabalho de qualquer jeito, corri para casa para tomar um banho
            e sair rumo Diadema.<br>
            No caminho eu estava mais tranquilo do que eu imaginava que estaria, parece que eu sentia que não tinha como dar errado.<br>
            Quando eu cheguei e a vi na portaria do condomínio dela, aí sim bateu um medinho, não vou negar. 
            <br> Mas você há de concordar comigo que estar frente a frente com a pessoa que você está apaixonado a quase dois anos, é um bom motivo para tremer na base.
            No final das contas o Gabriel do caminho estava certo, não tinha como dar errado, desde o primeiro momento percebi isso, e acho que ela também.
            <video controls src="ted.mp4" width="460" height="315"></video><br>

            <p class="alguem"></p><b>Já, eu já me senti assim com alguém, sinto todos os dias!</b>
        </details></div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          Novembro de 2021
        </div>
        <div class="item-title"><b>Você apenas encontra as coisas</b></div>
        <div class="item-detail"><details><summary> show more</summary><br> É engraçado como as vezes você simplesmente encontra as coisas.<br>
            <video controls src="ted e tracy.mp4" width="460" height="315"></video>
            
        </details></div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          4 de dezmbro de 2021
        </div>
        <div class="item-title"><b>Estamos namorando</b></div>
        <div class="item-detail"><details><summary> show more</summary><br>Exatamente um mês depois de nos vermos pela primeira vez, conversamos sobre o futuro da nossa relação. Ao fim dessa conversa eu a pedi em namoro,  E ELA ACEITOOOOOOOU!
            <br><br> Agora, é engraçado como a vida funciona. Eu não pretendia estudar no campus Jabaquara, meu intuito era a Mooca, por um erro da própria faculdade eu fui trocado de campus. Ela também não pretendia
            estudar nesse campus, ela nem sabia da existencia dele. Ela ficou em dúvida se me mandava ou não a mensagem falando do acidente. Eu pensei muito antes de assumir que realmente estava apaixonado por ela.<br><br>
            Imagina se uma dessas coisas não acontecem? Talvez hoje não estaríamos aqui, vivendo tudo isso. É louco, parece que quando é pra ser, o universo faz de tudo para acontecer. Agora sim eu entendo essa cena:
        
            <video controls src="Crianças.mp4" width="460" height="315"></video>
            
        </details></div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          Atualmente
        </div>
        <div class="item-title"><b>É isso crianças</b></div>
        <div class="item-detail"><details><summary> show more</summary><br> Por enquanto é isso<br><br>

        
            <video controls src="video nosso.mp4" width="460" height="315"></video>
            
        </details></div>
      </li>
  </ul>

</div>
</body>
</html>


 